include *.txt *.sh
include MANIFEST.in MANIFEST

recursive-include lib *
recursive-include test *
recursive-include examples *
recursive-include doc *

prune **/.hg
global-exclude *.pyc 
global-exclude *.pyo
global-exclude *.o
global-exclude *.so
global-exclude *.out
global-exclude .DS_Store

